<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat | App</title>
    <style>
        body{
            background: rgb(121, 116, 116);
            color: honeydew;
            text-align: center;
        }

        h1 {
            font-size: 4rem;
        }

        p {
            font-size: 2rem;
        }
    </style>
</head>
<body style="text-align: center;">
    <h1>Oopss... <br/> Route Not Found</h1>
    <p>You must have hit some wrong URL</p>
</body>
</html>