$btnColor: rgb(124, 179, 124);
*{
  box-sizing: border-box;
}
body{
  background: url(assets/images/good.jpg);

  margin: 0;
  padding: o;
}

.welcome-modal{
  display: flex;
  justify-content: center;
  position: absolute;
  padding-top: 100px;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(69, 92, 91);


  .modal-content {
    width: 60%;
    height: 200px;
    padding: 30px 10px;
    position: relative;
    border-radius: 10px;
    box-shadow: 4px 6px 10px black;

    @media (max-width: 768px) {
      border-radius: 0px;
      box-shadow: none;
      width: 100%;
      height: 100vh;
    }

    .action {
      text-align: center;
    h1 {
      margin: 0;
      color: whitesmoke
    }

    p {
      margin: 0;
      text-align: center;
      color: rgb(211, 204, 204);
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
    .btn {
      font-family: Arial, Helvetica, sans-serif;
      outline: none;
      width: 50%;
      padding: .7rem 1.3rem;
      font-size: 1.2rem;
      font-weight: 600;
      border-radius: 10px;
      border: 0;
      color: rgb(242, 255, 254);
      background-color: $btnColor;
      cursor: pointer;
    }
  }

    .consent-form {
      margin-top: 30px;
      input {
        font-family: Arial, Helvetica, sans-serif;
        outline: none;
        width: 70%;
        padding: .7rem 1rem;
        font-size: 1rem;
        border-radius: 10px;
        border: 0;
        color: rgb(36, 37, 37);
      }
      button {
        font-family: Arial, Helvetica, sans-serif;
        outline: none;
        width: 20%;
        padding: .7rem 1.3rem;
        font-size: 1.2rem;
        font-weight: 600;
        border-radius: 10px;
        border: 0;
        color: rgb(242, 255, 254);
        background-color: $btnColor;
        cursor: pointer;
      }
    }
  }
}
.head {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  background-color: rgb(69, 92, 91);
  @media (max-width: 768px) {
    width: 100%;
  }

  h1 {
    font-family: algerian, courier;
    font-size: 2rem;
    margin: 0px 0px 5px;
    color: rgb(187, 192, 191);
  }
  
  h3 {
    margin: 0;
    color: rgb(36, 37, 37);
  }
}
.main {
  width: 70%;
  margin: 0 auto;
  padding: 0;
  height: 486px;
  overflow-y: scroll;
  @media (max-width: 768px) {
    width: 100%;
  }
  .chat-holder {
    ul {
      margin: 0;
      padding-left: 5px;
      li {
        list-style-type: none;
        margin: 10px 2px;
        width: 60%;
        padding: 5px;
        color: rgb(208, 214, 213);
        background-color: rgb(67, 70, 70);
      }
    }
  }
}

.main::after {
  content: "";
  clear: both;
  display: table;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  right: -20;
  @media (max-width: 768px) {
    width: 100%;
  }
  .msg {
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: space-between;
    width: 70%;
    border: 2px solid rgb(36, 37, 37);
    border-radius: 20px;
    padding: 5px 0px 5px 10px;
    @media (max-width: 768px) {
      width: 100%;
    }

    input {
      background-color: transparent;
      outline: none;
      border: none;
      width: 91%;
      font-size: 1.2rem;
      @media (max-width: 768px) {
        width: 85%;
      }
    }
    .send {
      width: 9%;
      border: none;
      outline: none;
      background-color: transparent;
      margin: 0;
      padding-left: 31px;
      @media (max-width: 768px) {
        padding-left: 0px;
      }
      img {
        width: 30px;
      }
    }
  }
  
  div {  
    width: 15%;
    @media (max-width: 768px) {
      display: none;
    }
  }
}